<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Crime Report</title>
  </head>
  <body>
    <form action="" method="POST">
      <button name="sortingBtn" value="asc">Asc</button>
      <button name="sortingBtn" value="desc">Desc</button>
    </form>
    
    <form action="" method="POST" th:object="${rfbo}">
      <input type="text" th:field="${rfbo.sortingOrder}"/>
      <button>Submit</button>
    </form>
    
    <table>
      <tr>
        <th>Crime Description</th>
        <th>Instance Number</th>
        <th>Crime Rate</th>
        <th>Yearly Crime Rate Change</th>
        <th>Decade Crime Rate Change</th>
      </tr>
      <tr th:each="row : ${rows}">
        <td th:text="${row.crimeDescription}"></td>
        <td th:text="${row.crimeInstanceNumber}"></td>
        <td th:text="${row.crimeRate}"></td>
        <td th:text="${row.yearlyCrimeRateChange}"></td>
        <td th:text="${row.decadeCrimeRateChange}"></td>
      </tr>
    </table>
  </body>
</html>